* {
    margin: 0;
}
html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

button {
    background-color: #000;
    color: #FFF;
    padding: 5px 10px;
}

input[type = "text"]
{
    padding: 5px 10px;
}

h2 {
    padding: 2% 0;
    font-weight:bold;
}  


ol,li {
    display: inline-block;
    padding: 0 3%;
}

hr {
    margin: 0 2%;
}

header, footer {
    background-color: #FFF;
}

.bggrey {
    background-color: #CFCFCF;
    
}

#padtopbottom {
    background-color:#26405B;
    padding: 2% 44.3%;
    
    color: #FFF;
    position: relative;
    top: 1.5em;
    right: 0.0em;
}

#description {
    position: relative;
    bottom: 10.6em;
    left: -1.27em;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-right: 0.2em;
}

.line {
    display: inline-block;
    padding: 0 5%;
}

.pad {
    padding: 1% 0;
    
}
.widthForSection{
    width:30%;
    height: 13em;
    display:inline-block;
    
    margin-right: 0.5rem;
}

.text {
    background-color: #FFF;
}

.pad2
{
    padding-bottom: 2em;
    position: relative;
    bottom: 1em;
}

.moveup {
    position: relative;
    bottom: 9em;
}

.section1, .section2
{
    padding-top: 2em;
}

.box {
    background-color: #FFF;
    padding: 1em;
    position: relative;
    bottom: 5.5em;
}